body {
    font-family: 'Inter', sans-serif;
    background-color: #0f0f0f;
    color: white;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
}

h1 { text-align: center; margin-bottom: 30px; }

.hidden { display: none; }

/* Tampilan Grid Playlist */
.grid-container {
    display: grid;
    gap: 15px;
}

.song-card {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #333;
}

.song-card:hover {
    background: #282828;
    transform: translateY(-3px);
}

/* Tampilan Player */
.btn-back {
    background: #1db954;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}

.video-display {
    text-align: center;
}

.video-container video {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    background: black;
}

#display-artist {
    color: #b3b3b3;
    margin-top: -10px;
    margin-bottom: 20px;
}
